.container{
    background: none;
    width: 100%;
    position: relative;

    background: none;

    .list{
        
        position: absolute;
        width: 200%;
        height: 250px;
        left: -400px;
        top: -115px;
        transform: rotate(-15deg);

        background: linear-gradient(180deg, #7562E0 0%, #4C4981 100%);    
    
        animation: list 1s;
    }

    @keyframes list {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(-15deg);
        }
    }

    .works{
        display: grid;
        grid-template-columns: 3fr 1.5fr;

        width: 100%;

        margin-top: 35rem;

        .left{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            background: none;
            height: 800px;
            width: 100%;

            span{
                font-size: 1.5rem;
                font-weight: 600;
                color: gray;
                margin-bottom: 1.5rem;

                a{
                    text-decoration: none;

                    color: var(--title);
                }
            }

            .site{
                width: 790px;
                height: 450px;

                background: none;
                box-shadow: 0px 0px 30px 20px rgba(155, 178, 200, 0.33);
                border-radius: 16px;

                display: flex;
                align-items: center;
                justify-content: center;

                overflow: hidden; 
                

                img{
                    max-height: 100%;
                    max-width: 100%;
                }
            }

            h2{
                width: 790px;

                font-weight: 400;
                font-size: 2rem;
                line-height: 45px;

                margin-top: 1.5rem;

                color: #428BAB;
            }
            h3{
                width: 790px;

                font-weight: 600;
                font-size: 1.5rem;
                line-height: 45px;
            }
        }
        .right{
            height: auto;
            width: 100%;

            position: relative;

            display: flex;
            flex-direction: column;
            align-items: flex-end;

            padding: 3rem 6rem 3rem 3rem;

            .title{
                position: absolute;

                font-size: 3rem;
                top: -3.5rem;
            }

            .projects{
                height: 10.2rem;
                width: 100%;

                cursor: pointer;


                a{
                color: var(--text);
                font-size: 2.3rem;
                font-weight: 600;
                
                padding: 2.8rem 0rem;
                width: 100%;

                display: flex;
                align-items: flex-start;
                flex-direction: column;

                background: none;
                border: none;

                border-bottom: 1px solid #9F9F9F;
                transition: .2s;

                text-decoration: none;

                position: relative;

                    &:hover{
                        background: #EEEEEE;

                        &::after{
                            content: 'view site';
                            font-size: 1.1rem;
                            font-weight: 400;
                            position: absolute;
                            
                            top: -1.5rem;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1240px){
    .list{
        display: none;
    }
}

@media (max-width: 1120px){
    .container{

        .list{
           display: none;
        }
    
        .works{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            width: 100%;
    
            margin-top: 20rem;
    
            .left{
                display: flex;
                flex-direction: column;
                align-items: center;
                
                background: none;
                height: 800px;
                width: 100%;
    
                span{
                    font-size: 1.2rem;
    
                    a{
                        text-decoration: none;
    
                        color: var(--title);
                    }
                }
    
                .site{
                    width: 80%;
                    height: auto;
                }
    
                h2{
                    width: 70%;
                    font-size: 1.4rem;
                    line-height: 45px;
    
                    margin-top: 1.5rem;
    
                    color: #428BAB;
                }
                h3{
                    width: 70%;
                    font-size: 1.2rem;
                    line-height: 30px;
                }
            }
            .right{
                margin-top: -5rem;
                height: auto;
                width: 100%;
    
                position: relative;
    
                display: flex;
                flex-direction: column;
                align-items: center;
    
                padding: 0;
    
                .title{
                    font-size: 2rem;
                    top: -3.5rem;
                }
    
                .projects{
                    margin-top: 0.7rem;
                    height: auto;
                    width: 100%;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
    
                    cursor: pointer;
    
    
                    a{
                    font-size: 1.7rem;
                    
                    padding: 2rem 0rem;
                    width: 100%;
    
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    }
                }
            }
        }
    }
}

@media (max-width: 720px){
    .left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        background: none;
        height: 800px;
        width: 100%;

        span{
            font-size: 1.2rem;

            a{
                text-decoration: none;

                color: var(--title);
            }
        }

        .site{
            width: 80%;
            height: auto;
        }

        h2{
            width: 100%;
            font-size: 1rem;
            line-height: 45px;

            margin-top: 1.5rem;

            color: #428BAB;
        }
        h3{
            width: 70%;
            font-size: 1rem;
            line-height: 30px;
        }
    }
}